<%= form_with(model: [@book, book_status], class: "contents") do |form| %>
  <% if book_status.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(book_status.errors.count, "error") %> prohibited this book_status from being saved:</h2>

      <ul>
        <% book_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-5">
    <%= form.label :status_id %>
    <%= form.select :status_id, Status.pluck(:title, :id), {}, { class: "form-control", id: "book-status-select" } %>
  </div>

  <div class="form-group my-5" id="book-status-pages"<% if book_status.status.title != "reading" %> style="display: none;"<% end %>>
    <%= form.label :pages %><br />
    <%= @book.page_count %> / <%= form.number_field :pages, { min: 0, max: @book.page_count, class: "w-20 form-control" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
