<!DOCTYPE html>
<html>
  <head>
    <title>RailsBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-200">
    <%= render "layouts/nav" %>

    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="bg-teal-100 border-2 border-teal-500 text-teal-900 p-4"><%= msg %></div>
      <% elsif type == "alert" %> 
        <div class="bg-red-100 border-2 border-red-400 text-red-500 p-4"><%= msg %></div>
      <% else %>
        <div class="p-4"><%= msg %></div>
      <% end %>
    <% end %>

    <main class="container px-5 md:px-40 lg:px-40 mx-auto my-6">
      <%= yield %>
    </main>
    
    <%= render "layouts/footer" %>
  </body>
</html>
